body {
  margin-top: 70px;
}

.nav li a img {
  vertical-align: top;
}

#body {
  margin: auto;
  width: 70%;
}

.pager {
  position: relative;
  top: 0;
  left: 85%;
}

.edit-button {
  position: relative;
  top: 0;
  left: 85%;
}

section h2 {
  margin-bottom: 20px;
}

section h3 {
  margin-bottom: 10px;
}

.modules {
}

.module {
  clear: both;
}

.module-author {
  width : 60px;
  height : 60px;
}

.module-body {
  position : relative;
  top : -60px;
  left : 60px;
}

.timeline-entries {
}

.timeline-entry {
  clear: both;
}

.timeline-entry-author {
  width : 60px;
  height : 60px;
}

.timeline-entry-body {
  position : relative;
  top : -60px;
  left : 60px;
}

.reviews {
}

.review {
  clear: both;
}

.review-author {
  width : 30px;
  height : 30px;
}

.review-body {
  position : relative;
  top : -30px;
  left : 35px;
}

.submit {
  margin-top : 10px;
}
