@charset 'UTF-8';

/*============================ RESET ============================*/
html, body,
div,
ul, ol, li,
dl, dt, dd, td, th,
h1, h2, h3, h4, h5, h6,
p, pre, blockquote, fieldset,
form, input, button, textarea {
  margin: 0;
  padding: 0;
}
h1, h2, h3, h4, h5, h6,
pre, code, address, caption, cite, code,
em, strong, th {
  font-size: 1.0em;
  font-weight: normal;
  font-style: normal;
}
ul, ol, li {
  list-style: none;
}
fieldset, img {
  border: none;
}
caption, th {
  text-align: left;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
input,textarea,select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}
input,textarea,select {
  *font-size: 100%;
}
button {
  background-color: transparent;
  text-decoration: none;
}
label {
  cursor: pointer;
}

/*============================ ELEMENT ============================*/
body {
  clear: both;
  background:#002234 url(/images/background.gif) repeat 0 0;
  color: #fff;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.4;
  font-family :
  Helvetica,
  Meiryo,
  sans-serif;
}
a {
  color:#004681;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
a:link, a:visited, a:active {
  text-decoration:none;
}
a:active,
a:focus {
  outline:none;
}
a:hover {
  color:#004681;
  text-decoration: underline;
  cursor: pointer;
}
.left {
  float:left;
}
.right {
  float:right;
}
.more {
  text-align:right;
}

/*============================ LAYOUT ============================*/
.container {
  text-align:center;
}
.container-inner {
  position:relative;
  width:900px;
  margin:0 auto;
  text-align:left;
  transition:0.3s;
  -webkit-transition:0.3s;
  -moz-transition:0.3s;
  -ms-transition:0.3s;
  -o-transition:0.3s;
}
header {
  height:70px;
  background:url(/images/header-background.gif) repeat-x 0 0;
  box-shadow:0 5px 12px rgba(0,0,0,0.5);
  -webkit-box-shadow:0 5px 12px rgba(0,0,0,0.5);
  -moz-box-shadow:0 5px 12px rgba(0,0,0,0.5);
  -ms-box-shadow:0 5px 12px rgba(0,0,0,0.5);
  -o-box-shadow:0 5px 12px rgba(0,0,0,0.5);
}
#body {
  clear:both;
  margin-top:10px;
  margin-bottom:20px;
}
#body .container-inner > section:first-child > .content:first-child {
  margin-top:30px;
}

/*============================ HEADER ============================*/
header h1 img {
  height:70px;
  cursor: pointer;
}
header h1 {
  float:left;
  line-height:0.5;
}
header a:hover {
  text-decoration:none;
  color:#fff;
}
.orange-button {
  display:block;
  margin:17px;
  padding:11px;
  background:#cc5c00;
	background:linear-gradient(top, rgb(240,146,0), rgb(162,30,0));
	background:-webkit-linear-gradient(top, rgb(240,146,0), rgb(162,30,0));
	background:-moz-linear-gradient(top, rgb(240,146,0), rgb(162,30,0));
	background:-ms-linear-gradient(top, rgb(240,146,0), rgb(162,30,0));
	background:-o-linear-gradient(top, rgb(240,146,0), rgb(162,30,0));
  background: -webkit-gradient(linear, left top, left bottom, from(rgb(240,146,0)), to(rgb(162,30,0)));
  line-height:1;
  color:#fff;
  font-weight:bold;
  border-radius:5px;
  text-shadow:0 -1px 1px rgba(0,0,0,0.7);
  -webkit-text-shadow:0 -1px 1px rgba(0,0,0,0.7);
  -moz-text-shadow:0 -1px 1px rgba(0,0,0,0.7);
  -ms-text-shadow:0 -1px 1px rgba(0,0,0,0.7);
  -o-text-shadow:0 -1px 1px rgba(0,0,0,0.7);
  box-shadow:inset 0 1px 1px rgba(255,255,255,0.7),inset 0 -1px 1px rgba(0,0,0,0.7),inset 0 0 8px rgb(131,22,0),0 -1px 3px rgb(0,0,0),0 0 6px rgb(0,0,0),0 1px 0 rgba(255,255,255,0.4);
  -webkit-box-shadow:inset 0 1px 1px rgba(255,255,255,0.7),inset 0 -1px 1px rgba(0,0,0,0.7),inset 0 0 8px rgb(131,22,0),0 -1px 3px rgb(0,0,0),0 0 6px rgb(0,0,0),0 1px 0 rgba(255,255,255,0.4);
  -moz-box-shadow:inset 0 1px 1px rgba(255,255,255,0.7),inset 0 -1px 1px rgba(0,0,0,0.7),inset 0 0 8px rgb(131,22,0),0 -1px 3px rgb(0,0,0),0 0 6px rgb(0,0,0),0 1px 0 rgba(255,255,255,0.4);
  -ms-box-shadow:inset 0 1px 1px rgba(255,255,255,0.7),inset 0 -1px 1px rgba(0,0,0,0.7),inset 0 0 8px rgb(131,22,0),0 -1px 3px rgb(0,0,0),0 0 6px rgb(0,0,0),0 1px 0 rgba(255,255,255,0.4);
  -o-box-shadow:inset 0 1px 1px rgba(255,255,255,0.7),inset 0 -1px 1px rgba(0,0,0,0.7),inset 0 0 8px rgb(131,22,0),0 -1px 3px rgb(0,0,0),0 0 6px rgb(0,0,0),0 1px 0 rgba(255,255,255,0.4);
}
a.orange-button:active {
  color:#ddd;
  box-shadow:inset 0 1px 2px rgba(0,0,0,0.6),inset 0 0 20px rgba(0,0,0,0.4),inset 0 1px 1px rgba(255,255,255,0.7),inset 0 -1px 1px rgba(0,0,0,0.7),inset 0 0 8px rgb(131,22,0),0 -1px 3px rgb(0,0,0),0 0 6px rgb(0,0,0),0 1px 0 rgba(255,255,255,0.4);
  -webkit-box-shadow:inset 0 1px 2px rgba(0,0,0,0.6),inset 0 0 20px rgba(0,0,0,0.4),inset 0 1px 1px rgba(255,255,255,0.7),inset 0 -1px 1px rgba(0,0,0,0.7),inset 0 0 8px rgb(131,22,0),0 -1px 3px rgb(0,0,0),0 0 6px rgb(0,0,0),0 1px 0 rgba(255,255,255,0.4);
  -moz-box-shadow:inset 0 1px 2px rgba(0,0,0,0.6),inset 0 0 20px rgba(0,0,0,0.4),inset 0 1px 1px rgba(255,255,255,0.7),inset 0 -1px 1px rgba(0,0,0,0.7),inset 0 0 8px rgb(131,22,0),0 -1px 3px rgb(0,0,0),0 0 6px rgb(0,0,0),0 1px 0 rgba(255,255,255,0.4);
  -ms-box-shadow:inset 0 1px 2px rgba(0,0,0,0.6),inset 0 0 20px rgba(0,0,0,0.4),inset 0 1px 1px rgba(255,255,255,0.7),inset 0 -1px 1px rgba(0,0,0,0.7),inset 0 0 8px rgb(131,22,0),0 -1px 3px rgb(0,0,0),0 0 6px rgb(0,0,0),0 1px 0 rgba(255,255,255,0.4);
  -o-box-shadow:inset 0 1px 2px rgba(0,0,0,0.6),inset 0 0 20px rgba(0,0,0,0.4),inset 0 1px 1px rgba(255,255,255,0.7),inset 0 -1px 1px rgba(0,0,0,0.7),inset 0 0 8px rgb(131,22,0),0 -1px 3px rgb(0,0,0),0 0 6px rgb(0,0,0),0 1px 0 rgba(255,255,255,0.4);
}
#submit-module-button {
  float:left;
  margin-right:0;
}
#signin-button {
  cursor:pointer;
  float:right;
  margin-right:0;
  padding-left:14px;
}
#signin-button:after {
  content:'▼';
  margin-left:4px;
  font-size:12px;
}
#user-menu-button,
#user-button,
#notify-button {
  cursor:pointer;
  float:right;
  display:block;
  height:16px;
  margin:17px 7px;
  padding:11px;
  line-height:1;
  font-weight:bold;
  background:#003856;
	background:#003856 linear-gradient(top, rgb(0,83,126), rgb(0,30,46));
	background:#003856 -webkit-linear-gradient(top, rgb(0,83,126), rgb(0,30,46));
	background:#003856 -moz-linear-gradient(top, rgb(0,83,126), rgb(0,30,46));
	background:#003856 -ms-linear-gradient(top, rgb(0,83,126), rgb(0,30,46));
	background:#003856 -o-linear-gradient(top, rgb(0,83,126), rgb(0,30,46));
  background: -webkit-gradient(linear, left top, left bottom, from(rgb(0,83,126)), to(rgb(0,30,46)));
  box-shadow:inset 0 0 12px rgba(0,0,0,0.2),inset 0 1px 0 rgba(255,255,255,0.2),inset 0 2px 0 rgba(255,255,255,0.3),inset 0 -1px 1px rgba(0,0,0,0.7),0 -1px 3px rgb(0,0,0),0 0 6px rgb(0,0,0),0 1px 0 rgba(255,255,255,0.4);
  -webkit-box-shadow:inset 0 0 12px rgba(0,0,0,0.2),inset 0 1px 0 rgba(255,255,255,0.2),inset 0 2px 0 rgba(255,255,255,0.3),inset 0 -1px 1px rgba(0,0,0,0.7),0 -1px 3px rgb(0,0,0),0 0 6px rgb(0,0,0),0 1px 0 rgba(255,255,255,0.4);
  -moz-box-shadow:inset 0 0 12px rgba(0,0,0,0.2),inset 0 1px 0 rgba(255,255,255,0.2),inset 0 2px 0 rgba(255,255,255,0.3),inset 0 -1px 1px rgba(0,0,0,0.7),0 -1px 3px rgb(0,0,0),0 0 6px rgb(0,0,0),0 1px 0 rgba(255,255,255,0.4);
  -ms-box-shadow:inset 0 0 12px rgba(0,0,0,0.2),inset 0 1px 0 rgba(255,255,255,0.2),inset 0 2px 0 rgba(255,255,255,0.3),inset 0 -1px 1px rgba(0,0,0,0.7),0 -1px 3px rgb(0,0,0),0 0 6px rgb(0,0,0),0 1px 0 rgba(255,255,255,0.4);
  -o-box-shadow:inset 0 0 12px rgba(0,0,0,0.2),inset 0 1px 0 rgba(255,255,255,0.2),inset 0 2px 0 rgba(255,255,255,0.3),inset 0 -1px 1px rgba(0,0,0,0.7),0 -1px 3px rgb(0,0,0),0 0 6px rgb(0,0,0),0 1px 0 rgba(255,255,255,0.4);
}
a#user-menu-button:active,
a#user-button:active,
a#notify-button:active {
  color:#ddd;
  box-shadow:inset 0 1px 2px rgba(0,0,0,0.8),inset 0 0 20px rgba(0,0,0,0.6),inset 0 1px 0 rgba(255,255,255,0.2),inset 0 2px 0 rgba(255,255,255,0.3),inset 0 -1px 1px rgba(0,0,0,0.7),0 -1px 3px rgb(0,0,0),0 0 6px rgb(0,0,0),0 1px 0 rgba(255,255,255,0.4);
  -webkit-box-shadow:inset 0 1px 2px rgba(0,0,0,0.8),inset 0 0 20px rgba(0,0,0,0.6),inset 0 1px 0 rgba(255,255,255,0.2),inset 0 2px 0 rgba(255,255,255,0.3),inset 0 -1px 1px rgba(0,0,0,0.7),0 -1px 3px rgb(0,0,0),0 0 6px rgb(0,0,0),0 1px 0 rgba(255,255,255,0.4);
  -moz-box-shadow:inset 0 1px 2px rgba(0,0,0,0.8),inset 0 0 20px rgba(0,0,0,0.6),inset 0 1px 0 rgba(255,255,255,0.2),inset 0 2px 0 rgba(255,255,255,0.3),inset 0 -1px 1px rgba(0,0,0,0.7),0 -1px 3px rgb(0,0,0),0 0 6px rgb(0,0,0),0 1px 0 rgba(255,255,255,0.4);
  -ms-box-shadow:inset 0 1px 2px rgba(0,0,0,0.8),inset 0 0 20px rgba(0,0,0,0.6),inset 0 1px 0 rgba(255,255,255,0.2),inset 0 2px 0 rgba(255,255,255,0.3),inset 0 -1px 1px rgba(0,0,0,0.7),0 -1px 3px rgb(0,0,0),0 0 6px rgb(0,0,0),0 1px 0 rgba(255,255,255,0.4);
  -o-box-shadow:inset 0 1px 2px rgba(0,0,0,0.8),inset 0 0 20px rgba(0,0,0,0.6),inset 0 1px 0 rgba(255,255,255,0.2),inset 0 2px 0 rgba(255,255,255,0.3),inset 0 -1px 1px rgba(0,0,0,0.7),0 -1px 3px rgb(0,0,0),0 0 6px rgb(0,0,0),0 1px 0 rgba(255,255,255,0.4);
}
header .menu-dropdown {
  display:none;
}
#user-menu-button {
  cursor:pointer;
  color:#fff;
  font-weight:bold;
  margin-left:0;
  padding-left:9px;
  border-top-right-radius:5px;
	border-bottom-right-radius:5px;
  -webkit-border-top-right-radius:5px;
	-webkit-border-bottom-right-radius:5px;
  -moz-border-radius-topright:5px;  
  -moz-border-radius-bottomright:5px;
  text-shadow:0 -1px 1px rgba(0,0,0,0.7);
  -webkit-text-shadow:0 -1px 1px rgba(0,0,0,0.7);
  -moz-text-shadow:0 -1px 1px rgba(0,0,0,0.7);
  -ms-text-shadow:0 -1px 1px rgba(0,0,0,0.7);
  -o-text-shadow:0 -1px 1px rgba(0,0,0,0.7);
  box-shadow:inset 1px 0 0 rgba(255,255,255,0.5),inset 0 0 12px rgba(0,0,0,0.2),inset 0 1px 0 rgba(255,255,255,0.2),inset 0 2px 0 rgba(255,255,255,0.3),inset 0 -1px 1px rgba(0,0,0,0.7),0 -1px 3px rgb(0,0,0),0 0 6px rgb(0,0,0),0 1px 0 rgba(255,255,255,0.4);
  -webkit-box-shadow:inset 1px 0 0 rgba(255,255,255,0.5),inset 0 0 12px rgba(0,0,0,0.2),inset 0 1px 0 rgba(255,255,255,0.2),inset 0 2px 0 rgba(255,255,255,0.3),inset 0 -1px 1px rgba(0,0,0,0.7),0 -1px 3px rgb(0,0,0),0 0 6px rgb(0,0,0),0 1px 0 rgba(255,255,255,0.4);
  -moz-box-shadow:inset 1px 0 0 rgba(255,255,255,0.5),inset 0 0 12px rgba(0,0,0,0.2),inset 0 1px 0 rgba(255,255,255,0.2),inset 0 2px 0 rgba(255,255,255,0.3),inset 0 -1px 1px rgba(0,0,0,0.7),0 -1px 3px rgb(0,0,0),0 0 6px rgb(0,0,0),0 1px 0 rgba(255,255,255,0.4);
  -ms-box-shadow:inset 1px 0 0 rgba(255,255,255,0.5),inset 0 0 12px rgba(0,0,0,0.2),inset 0 1px 0 rgba(255,255,255,0.2),inset 0 2px 0 rgba(255,255,255,0.3),inset 0 -1px 1px rgba(0,0,0,0.7),0 -1px 3px rgb(0,0,0),0 0 6px rgb(0,0,0),0 1px 0 rgba(255,255,255,0.4);
  -o-box-shadow:inset 1px 0 0 rgba(255,255,255,0.5),inset 0 0 12px rgba(0,0,0,0.2),inset 0 1px 0 rgba(255,255,255,0.2),inset 0 2px 0 rgba(255,255,255,0.3),inset 0 -1px 1px rgba(0,0,0,0.7),0 -1px 3px rgb(0,0,0),0 0 6px rgb(0,0,0),0 1px 0 rgba(255,255,255,0.4);
}
#user-button {
  color:#fff;
  margin-right:0;
  padding-right:9px;
  border-right:1px solid #002234;
  border-top-left-radius:5px;
	border-bottom-left-radius:5px;
  -webkit-border-top-left-radius:5px;
	-webkit-border-bottom-left-radius:5px;
  -moz-border-radius-topleft:5px;  
  -moz-border-radius-bottomleft:5px;
  text-shadow:0 -1px 1px rgba(0,0,0,0.7);
  -webkit-text-shadow:0 -1px 1px rgba(0,0,0,0.7);
  -moz-text-shadow:0 -1px 1px rgba(0,0,0,0.7);
  -ms-text-shadow:0 -1px 1px rgba(0,0,0,0.7);
  -o-text-shadow:0 -1px 1px rgba(0,0,0,0.7);
}
#user-button img {
  width:18px;
  height:18px;
  margin-top:-4px;
  vertical-align:middle;
  box-shadow:0 -1px 1px rgba(0,0,0,0.5);
  -webkit-box-shadow:0 -1px 1px rgba(0,0,0,0.5);
  -moz-box-shadow:0 -1px 1px rgba(0,0,0,0.5);
  -ms-box-shadow:0 -1px 1px rgba(0,0,0,0.5);
  -o-box-shadow:0 -1px 1px rgba(0,0,0,0.5);
}
a#user-button:active img {
  opacity:0.8;
}
#notify-button {
  width:28px;
  height:24px;
  padding:9px 5px 5px;
  text-align:center;
  color:#0e405b;
  font-size:16px;
  background:#003856 url(/images/notify.png) no-repeat center 3px;
	background:url(/images/notify.png) no-repeat center 3px,linear-gradient(top, rgb(0,83,126), rgb(0,30,46)),#003856;
	background:url(/images/notify.png) no-repeat center 3px,-moz-linear-gradient(top, rgb(0,83,126), rgb(0,30,46)),#003856;
	background:url(/images/notify.png) no-repeat center 3px,-webkit-linear-gradient(top, rgb(0,83,126), rgb(0,30,46)),#003856;
	background:url(/images/notify.png) no-repeat center 3px,-ms-linear-gradient(top, rgb(0,83,126), rgb(0,30,46)),#003856;
	background:url(/images/notify.png) no-repeat center 3px,-o-linear-gradient(top, rgb(0,83,126), rgb(0,30,46)),#003856;
  background:url(/images/notify.png) no-repeat center 3px, -webkit-gradient(linear, left top, left bottom, from(rgb(0,83,126)), to(rgb(0,30,46)));
  border-radius:5px;
}
#notify-button .unread-count {
  color:#c25600;
}
a#notify-button:hover,
a#notify-button:active {
  color:#0e405b;
}

/*============================ FOOTER ============================*/
footer {
  font-size:14px;
  color:#5a798b;
  text-shadow:0 -1px 1px rgba(0,0,0,1);
}
footer a {
  color:#5a798b;
}
footer a:hover {
  color:#fff;
}
footer ul {
  float:right;
}
footer ul li {
  display:inline-block;
  margin-left:15px;
}
#copyright {
  margin:0 0 10px;
}

/*============================ BODY ============================*/
section {
  margin-bottom:50px;
}
section .section-title {
  margin:15px 0 8px;
  color:#e7e7e0;
  font-size:26px;
  font-weight:bold;
  letter-spacing:1px;
  text-shadow:0 -2px 1px rgba(0,0,0,0.9);
  word-break:break-all;
}
section .section-title span {
  font-size:16px;
}
#searchbox {
  width:220px;
  margin-top:25px;
}
section .content {
  position:relative;
  clear:both;
  border:5px solid #003765;
  background:#e7e7e0;
  border-radius:10px;
  color:#444;
  box-shadow:0 4px 14px rgba(0,0,0,0.8);
  -webkit-box-shadow:0 4px 14px rgba(0,0,0,0.8);
  -moz-box-shadow:0 4px 14px rgba(0,0,0,0.8);
  -ms-box-shadow:0 4px 14px rgba(0,0,0,0.8);
  -o-box-shadow:0 4px 14px rgba(0,0,0,0.8);
  text-shadow:0 1px 1px #fff;
}
section .content > * {
  padding:30px;
  border-top:2px solid #fff;
  border-bottom:1px solid #ccc;
  background:url(/images/content-background.png) repeat-x 0 0;
}
section .content > *:first-child {
  border-top-left-radius:5px;
	border-top-right-radius:5px;
  -webkit-border-top-left-radius:5px;
	-webkit-border-top-right-radius:5px;
  -moz-border-radius-topleft:5px;  
  -moz-border-radius-topright:5px;
}
section .content > *:last-child {
  border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
  -webkit-border-bottom-left-radius:5px;
	-webkit-border-bottom-right-radius:5px;
  -moz-border-radius-bottomleft:5px;  
  -moz-border-radius-bottomright:5px;
}
section .content .content-title {
  margin-bottom:10px;
  color:#444;
  font-size:20px;
  font-weight:bold;
}
section .content a {
  color:#004681;
}
section .content-with-icon {
  padding-left:90px;
}
section .content-with-icon .user-image {
  margin-left:-60px;
}
section .module .module-title {
  margin-top:-4px;
  font-size:20px;
  font-weight:bold;
  text-shadow:0 2px 1px #fff;
}
section .module .module-title a {
  font-size:26px;
  font-weight:bold;
}
section .module .module-description {
  color:#666;
}
section .module .module-info {
  margin-top:8px;
  padding-top:5px;
  border-top:1px solid #ccc;
  box-shadow:inset 0 1px 0 #fff;
  -webkit-box-shadow:inset 0 1px 0 #fff;
  -moz-box-shadow:inset 0 1px 0 #fff;
  -ms-box-shadow:inset 0 1px 0 #fff;
  -o-box-shadow:inset 0 1px 0 #fff;
}
section .module .module-info a,
section .module .module-info span {
  margin-right:15px;
}

/*============================ USER PAGE ============================*/
#user-profile {
  overflow:hidden;
}
.edit-button {
  position:absolute;
  right:40px;
}
#user-profile .edit-button {
  margin-top:5px;
}
#user-profile .user-name,
#user-profile .user-name a {
  margin:-3px 0 2px;
  font-size: 26px;
  font-weight: bold;
}
#user-profile .user-data {
  margin-top: 8px;
  padding-top: 5px;
  border-top: 1px solid #CCC;
  box-shadow: inset 0 1px 0 #fff;
  -webkit-box-shadow: inset 0 1px 0 #fff;
  -moz-box-shadow: inset 0 1px 0 #fff;
  -ms-box-shadow: inset 0 1px 0 #fff;
  -o-box-shadow: inset 0 1px 0 #fff;
}
#user-profile .user-data span {
  margin-right:25px;
}

/*============================ MODULE PAGE ============================*/
.module-data .edit-button {
  top:90px;
}
.module-data .data {
  overflow:hidden;
  line-height:1.2;
}
.module-data .data dl {
  float:left;
  width:50%;
  padding:5px 0;
  border-bottom:1px solid #fff;
  box-shadow:inset 0 -1px 0 #ccc;
  -webkit-box-shadow:inset 0 -1px 0 #ccc;
  -moz-box-shadow:inset 0 -1px 0 #ccc;
  -ms-box-shadow:inset 0 -1px 0 #ccc;
  -o-box-shadow:inset 0 -1px 0 #ccc;
}
.module-data .data dt {
  display:inline-block;
  width:55px;
  padding-right:0.5em;
  text-align:right;
}
.module-data .data dt:after {
  content:' : ';
}
.module-data .data dd {
  display:inline-block;
  overflow:hidden;
  width:320px;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition:0.3s;
  -webkit-transition:0.3s;
  -moz-transition:0.3s;
  -ms-transition:0.3s;
  -o-transition:0.3s;
}
.module-data .feedbacks {
  position:relative;
  overflow:hidden;
  margin-top:13px;
  margin-right: 140px;
}
.module-data .feedbacks > * {
  float:left;
}
.fb_iframe_widget iframe {
  width:90px !important;
}
#feedback-prepan {
  margin-top:-1px;
}
#feedback-prepan-button {
  padding:4px 7px 3px;
  font-weight:normal;
  font-size:80%;
  text-shadow:none;
}
#feedback-prepan span img {
  width:16px;
  height:16px;
}
.module-comments .comment {
  overflow:hidden;
  margin:10px 0;
  padding:5px 0;
  border-bottom:1px solid #ccc;
  box-shadow:0 1px 0 #fff;
  -webkit-box-shadow:0 1px 0 #fff;
  -moz-box-shadow:0 1px 0 #fff;
  -ms-box-shadow:0 1px 0 #fff;
  -o-box-shadow:0 1px 0 #fff;
}
.module-comments .comment-author {
  float:left;
}
.module-comments .comment-author img {
  width:32px;
  height:32px;
  border:1px solid #ddd;
}
.module-comments .comment-body {
  margin-left:40px;
}
.module-comments .comment-info {
  margin-bottom:2px;
  line-height:1.2;
}
.module-comments .comment-username {
  margin-right:15px;
  font-weight:bold;
}
.module-comments .comment-timestamp {
  margin-right:5px;
  color:#999;
}
.module-comments .comment-delete {
  padding:1px 5px 2px;
  font-size:13px;
  line-height:1;
  color:#666 !important;
  vertical-align:top;
  background:#eee;
	background:linear-gradient(top, #fff, #ddd);
	background:-webkit-linear-gradient(top, #fff, #ddd);
	background:-moz-linear-gradient(top, #fff, #ddd);
	background:-ms-linear-gradient(top, #fff, #ddd);
	background:-o-linear-gradient(top, #fff, #ddd);
  background:-webkit-gradient(linear, left top, left bottom, from(#fff), to(#ddd));
  text-shadow:0 1px 0 #fff;
}
.module-comments .comment-delete:active {
  color:#fff !important;
  text-shadow:0 -1px 0 rgba(0,0,0,0.7);
}
#comment-textarea {
  display:block;
  width:760px;
  height:4em;
  border:1px solid #ccc;
  margin-left:40px;
  padding:5px 7px;
  border-radius:3px;
  box-shadow:inset 0 1px 3px rgba(0,0,0,0.2),0 1px 0 #fff;
  -webkit-box-shadow:inset 0 1px 3px rgba(0,0,0,0.2),0 1px 0 #fff;
  -moz-box-shadow:inset 0 1px 3px rgba(0,0,0,0.2),0 1px 0 #fff;
  -ms-box-shadow:inset 0 1px 3px rgba(0,0,0,0.2),0 1px 0 #fff;
  -o-box-shadow:inset 0 1px 3px rgba(0,0,0,0.2),0 1px 0 #fff;
  transition:0.3s;
  -webkit-transition:0.3s;
  -moz-transition:0.3s;
  -ms-transition:0.3s;
  -o-transition:0.3s;
}

#comment-anonymouse {
  margin-left: 40px;
}

/*============================ EDIT PAGE ============================*/
.edit-form fieldset > * {
  overflow:hidden;
  margin-bottom:15px;
}
.edit-form fieldset > * > label {
  float:left;
  width:7em;
  padding-right:0.5em;
  text-align:right;
  line-height:2;
}
.edit-form fieldset > * > label:after {
  content:' : ';
}
.edit-form fieldset .input {
  margin-left:7.5em;
}
.edit-form fieldset input,
.edit-form fieldset textarea {
  padding:5px 7px;
  margin-bottom:1px;
  border:1px solid #ccc;
  border-radius:3px;
  box-shadow:inset 0 1px 3px rgba(0,0,0,0.2),0 1px 0 #fff;
  -webkit-box-shadow:inset 0 1px 3px rgba(0,0,0,0.2),0 1px 0 #fff;
  -moz-box-shadow:inset 0 1px 3px rgba(0,0,0,0.2),0 1px 0 #fff;
  -ms-box-shadow:inset 0 1px 3px rgba(0,0,0,0.2),0 1px 0 #fff;
  -o-box-shadow:inset 0 1px 3px rgba(0,0,0,0.2),0 1px 0 #fff;
}
.edit-form fieldset .preview {
  width: 590px;
  padding:5px 7px;
  margin-bottom:1px;
  border:1px solid #eee;
  border-radius:3px;
  box-shadow:inset 0 1px 3px rgba(0,0,0,0.2),0 1px 0 #fff;
  -webkit-box-shadow:inset 0 1px 3px rgba(0,0,0,0.2),0 1px 0 #fff;
  -moz-box-shadow:inset 0 1px 3px rgba(0,0,0,0.2),0 1px 0 #fff;
  -ms-box-shadow:inset 0 1px 3px rgba(0,0,0,0.2),0 1px 0 #fff;
  -o-box-shadow:inset 0 1px 3px rgba(0,0,0,0.2),0 1px 0 #fff;
}

.edit-form fieldset #description-form {
  position: relative;
}
.edit-form fieldset input.description-preview {
  color: #fff;
  cursor: pointer;
  position: absolute;
  top: 30px;
  left: 18px;
}
.submit {
  margin-top:20px;
  text-align:center;
}
.submit .button {
  width:10em;
}
#profile-edit-form .username {
  margin-top:-2px;
  font-size:22px;
}
#profile-edit-form .username a,
#profile-edit-form .username img {
  vertical-align:middle;
  font-weight:bold;
}
#profile-edit-form .username img {
  width:24px;
  height:24px;
  border:1px solid #ddd;
}

/*============================ MARKDOWN STYLE ============================*/
.static-content > * > *:first-child {
  margin-top:0;
  padding-top:0;
}
.static-content h1,
#module-description h1,
.module-description h1 {
  margin:40px 0 10px;
  padding:5px 10px;
  font-size:18px;
  font-weight:bold;
  letter-spacing:0.1em;
  color:#fff;
  background:#003856;
	background:#003856 linear-gradient(top, rgb(0,83,126), rgb(0,30,46));
	background:#003856 -webkit-linear-gradient(top, rgb(0,83,126), rgb(0,30,46));
	background:#003856 -moz-linear-gradient(top, rgb(0,83,126), rgb(0,30,46));
	background:#003856 -ms-linear-gradient(top, rgb(0,83,126), rgb(0,30,46));
	background:#003856 -o-linear-gradient(top, rgb(0,83,126), rgb(0,30,46));
  background:-webkit-gradient(linear, left top, left bottom, from(rgb(0,83,126)), to(rgb(0,30,46)));
  text-shadow:0 -2px 0 rgba(0,0,0,0.6);
  border-radius:5px;
  box-shadow:0 1px 2px rgba(0,0,0,0.5);
  -webkit-box-shadow:0 1px 2px rgba(0,0,0,0.5);
  -moz-box-shadow:0 1px 2px rgba(0,0,0,0.5);
  -ms-box-shadow:0 1px 2px rgba(0,0,0,0.5);
  -o-box-shadow:0 1px 2px rgba(0,0,0,0.5);
}
.static-content h2,
#module-description h2,
.module-description h2 {
  margin:40px 0 10px;
  padding:2px 10px 0;
  font-size:18px;
  font-weight:bold;
  letter-spacing:0.1em;
  color:#003856;
  border-bottom:3px solid #003856;
  box-shadow:0 1px 0 #fff;
  -webkit-box-shadow:0 1px 0 #fff;
  -moz-box-shadow:0 1px 0 #fff;
  -ms-box-shadow:0 1px 0 #fff;
  -o-box-shadow:0 1px 0 #fff;
}
.static-content h3,
#module-description h3,
.module-description h3 {
  margin:40px 0 10px;
  padding:2px 10px 0;
  font-size:16px;
  font-weight:bold;
  letter-spacing:0.1em;
  color:#003856;
}
.static-content h4,
#module-description h4,
.module-description h4 {
  margin:40px 0 10px;
  padding:2px 10px 0;
  font-size:16px;
  font-weight:bold;
  letter-spacing:0.1em;
}
.static-content h5,
#module-description h5,
.module-description h5 {
  margin:40px 0 10px;
  padding:2px 10px 0;
  font-weight:bold;
}
.static-content p,
#module-description p,
.module-description p {
  margin:10px;
}
.static-content pre code,
#module-synopsis pre code,
#module-description pre code,
.module-description pre code {
  display:block;
  overflow:auto;
  padding:20px;
  font-weight:bold;
  background:#f7ebc5;
  border-radius:5px;
  -webkit-overflow-scrolling: touch;
  box-shadow:0 1px 0 #fff,inset 0 2px 5px rgba(0,0,0,0.4);
  -webkit-box-shadow:0 1px 0 #fff,inset 0 2px 5px rgba(0,0,0,0.4);
  -moz-box-shadow:0 1px 0 #fff,inset 0 2px 5px rgba(0,0,0,0.4);
  -ms-box-shadow:0 1px 0 #fff,inset 0 2px 5px rgba(0,0,0,0.4);
  -o-box-shadow:0 1px 0 #fff,inset 0 2px 5px rgba(0,0,0,0.4);
}
.static-content blockquote,
#module-description blockquote,
.module-description blockquote {
  margin:10px;
  border:1px solid #ccc;
  padding:10px 20px;
  background:#fff;
  box-shadow:0 1px 0 #fff,inset 0 1px 3px rgba(0,0,0,0.2);
  -webkit-box-shadow:0 1px 0 #fff,inset 0 1px 3px rgba(0,0,0,0.2);
  -moz-box-shadow:0 1px 0 #fff,inset 0 1px 3px rgba(0,0,0,0.2);
  -ms-box-shadow:0 1px 0 #fff,inset 0 1px 3px rgba(0,0,0,0.2);
  -o-box-shadow:0 1px 0 #fff,inset 0 1px 3px rgba(0,0,0,0.2);
}
.static-content ul,
#module-description ul,
.module-description ul {
  margin:20px 10px;
  padding-left:20px;
}
.static-content ul li,
#module-description ul li,
.module-description ul li {
  list-style-type: disc;
  margin:5px 0;
}
.static-content ul ul li,
#module-description ul ul li,
.module-description ul ul li {
  list-style-type: circle;
}
.static-content ul ul ul li,
#module-description ul ul ul li,
.module-description ul ul ul li {
  list-style-type: square;
}
.static-content ol li,
#module-description ol li,
.module-description ol li {
  list-style-type: decimal;
}

/*============================ GUIDE ============================*/
#first-guide {
  display:block;
  position:relative;
  background:#292929 url(/images/guide-bg.png) repeat 0 0;
  margin:0 0 -10px;
  box-shadow:inset 0 -3px 10px rgba(0,0,0,0.4),inset 0 4px 12px rgba(0,0,0,0.5),0 1px 1px rgba(255,255,255,0.1);
  -webkit-box-shadow:inset 0 -3px 10px rgba(0,0,0,0.4),inset 0 4px 12px rgba(0,0,0,0.5),0 1px 1px rgba(255,255,255,0.1);
  -moz-box-shadow:inset 0 -3px 10px rgba(0,0,0,0.4),inset 0 4px 12px rgba(0,0,0,0.5),0 1px 1px rgba(255,255,255,0.1);
  -ms-box-shadow:inset 0 -3px 10px rgba(0,0,0,0.4),inset 0 4px 12px rgba(0,0,0,0.5),0 1px 1px rgba(255,255,255,0.1);
  -o-box-shadow:inset 0 -3px 10px rgba(0,0,0,0.4),inset 0 4px 12px rgba(0,0,0,0.5),0 1px 1px rgba(255,255,255,0.1);
}
#first-guide .container-inner {
  padding:25px 5px 45px;
}
#first-guide .title {
  padding-bottom:10px;
  font-size:30px;
  font-weight:bold;
  letter-spacing:0.06em;
  text-shadow:0 2px 2px #000;
}
#first-guide ul {
  padding-left:20px;
  font-size:15px;
  letter-spacing:0.1em;
  text-shadow:0 0 1px #000;
}
#first-guide ul li {
  padding:2px 0;
  list-style-type:disc;
}
#guide-signin-container {
  position:absolute;
  top:35px;
  right:0;
  padding:30px 35px;
  border:1px solid #393939;
  border-radius:5px;
  box-shadow:-1px -1px 1px rgba(0,0,0,0.5),inset -1px -1px 1px rgba(0,0,0,0.5);
  -webkit-box-shadow:-1px -1px 1px rgba(0,0,0,0.5),inset -1px -1px 1px rgba(0,0,0,0.5);
  -moz-box-shadow:-1px -1px 1px rgba(0,0,0,0.5),inset -1px -1px 1px rgba(0,0,0,0.5);
  -ms-box-shadow:-1px -1px 1px rgba(0,0,0,0.5),inset -1px -1px 1px rgba(0,0,0,0.5);
  -o-box-shadow:-1px -1px 1px rgba(0,0,0,0.5),inset -1px -1px 1px rgba(0,0,0,0.5);
}
#guide-signin-container a.button {
  overflow:hidden;
  display:block;
  padding:10px 16px 6px 14px;
  line-height:1.5;
  text-shadow:0 -1px 1px rgba(0,0,0,1);
  background:#444;
	background:linear-gradient(top, #777, #333);
	background:-webkit-linear-gradient(top, #777, #333);
	background:-moz-linear-gradient(top, #777, #333);
	background:-ms-linear-gradient(top, #777, #333);
	background:-o-linear-gradient(top, #777, #333);
  background:-webkit-gradient(linear, left top, left bottom, from(#777), to(#333));
  box-shadow:inset 0 1px 0 rgba(255,255,255,0.4),inset 0 -1px 1px rgba(0,0,0,0.6),inset 0 0 5px rgba(0,0,0,0.5),0 1px 1px rgba(255,255,255,0.2),0 -1px 5px rgba(0,0,0,0.5),0 1px 2px rgba(0,0,0,0.5);
  -webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.4),inset 0 -1px 1px rgba(0,0,0,0.6),inset 0 0 5px rgba(0,0,0,0.5),0 1px 1px rgba(255,255,255,0.2),0 -1px 5px rgba(0,0,0,0.5),0 1px 2px rgba(0,0,0,0.5);
  -moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.4),inset 0 -1px 1px rgba(0,0,0,0.6),inset 0 0 5px rgba(0,0,0,0.5),0 1px 1px rgba(255,255,255,0.2),0 -1px 5px rgba(0,0,0,0.5),0 1px 2px rgba(0,0,0,0.5);
  -ms-box-shadow:inset 0 1px 0 rgba(255,255,255,0.4),inset 0 -1px 1px rgba(0,0,0,0.6),inset 0 0 5px rgba(0,0,0,0.5),0 1px 1px rgba(255,255,255,0.2),0 -1px 5px rgba(0,0,0,0.5),0 1px 2px rgba(0,0,0,0.5);
  -o-box-shadow:inset 0 1px 0 rgba(255,255,255,0.4),inset 0 -1px 1px rgba(0,0,0,0.6),inset 0 0 5px rgba(0,0,0,0.5),0 1px 1px rgba(255,255,255,0.2),0 -1px 5px rgba(0,0,0,0.5),0 1px 2px rgba(0,0,0,0.5);
}
#guide-signin-container a.button:active {
  box-shadow:inset 0 0 40px rgba(0,0,0,0.2),inset 0 2px 10px rgba(0,0,0,0.9),inset 0 1px 0 rgba(255,255,255,0.4),0 1px 0 rgba(255,255,255,0.1);
  -webkit-box-shadow:inset 0 0 40px rgba(0,0,0,0.2),inset 0 2px 10px rgba(0,0,0,0.9),inset 0 1px 0 rgba(255,255,255,0.4),0 1px 0 rgba(255,255,255,0.1);
  -moz-box-shadow:inset 0 0 40px rgba(0,0,0,0.2),inset 0 2px 10px rgba(0,0,0,0.9),inset 0 1px 0 rgba(255,255,255,0.4),0 1px 0 rgba(255,255,255,0.1);
  -ms-box-shadow:inset 0 0 40px rgba(0,0,0,0.2),inset 0 2px 10px rgba(0,0,0,0.9),inset 0 1px 0 rgba(255,255,255,0.4),0 1px 0 rgba(255,255,255,0.1);
  -o-box-shadow:inset 0 0 40px rgba(0,0,0,0.2),inset 0 2px 10px rgba(0,0,0,0.9),inset 0 1px 0 rgba(255,255,255,0.4),0 1px 0 rgba(255,255,255,0.1);
}
#guide-signin-twitter-button {
  margin-bottom:25px;
}
#guide-signin-twitter-button:before {
  display:inline-block;
  content:url(/images/twitter-icon-wh.png);
  margin-right:5px;
  vertical-align:middle;
}
#guide-signin-github-button:before {
  display:inline-block;
  content:url(/images/github-icon-wh.png);
  margin-right:5px;
  vertical-align:middle;
}
#first-guide-close {
  position:absolute;
  display:block;
  bottom:0;
  right:0;
  padding:5px 10px 4px;
  font-size:11px;
  color:#5A798B;
  letter-spacing:0.1em;
  background:#002234 url(/images/background.gif) repeat 0 0;
  border-radius:5px;
  text-shadow:0 -1px 1px rgba(0,0,0,0.5);
  z-index:2;
  cursor:pointer;
  box-shadow:0 2px 0 #002234,0 -2px 7px rgba(0,0,0,0.5),inset 0 1px 0 rgba(255,255,255,0.1);
  -webkit-box-shadow:0 2px 0 #002234,0 -2px 7px rgba(0,0,0,0.5),inset 0 1px 0 rgba(255,255,255,0.1);
  -moz-box-shadow:0 2px 0 #002234,0 -2px 7px rgba(0,0,0,0.5),inset 0 1px 0 rgba(255,255,255,0.1);
  -ms-box-shadow:0 2px 0 #002234,0 -2px 7px rgba(0,0,0,0.5),inset 0 1px 0 rgba(255,255,255,0.1);
  -o-box-shadow:0 2px 0 #002234,0 -2px 7px rgba(0,0,0,0.5),inset 0 1px 0 rgba(255,255,255,0.1);
}
#first-guide-close:before {
  content:'▲';
  margin-right:2px;
}
#first-guide-close:hover {
  color:#fff;
}

/*============================ NOTIFY ============================*/
#notify,
.menu-dropdown {
  display:none;
  position:absolute;
  top:51px;
  right:100px;
  width:280px;
  overflow:hidden;
  min-height:240px;
  color:#444;
  background:#e7e7e0 url(/images/content-background-mini.png) repeat-x 0 0;
  border:5px solid #003856;
  border-radius:10px;
  box-shadow:0 4px 10px rgba(0,0,0,0.8);
  -webkit-box-shadow:0 4px 10px rgba(0,0,0,0.8);
  -moz-box-shadow:0 4px 10px rgba(0,0,0,0.8);
  -ms-box-shadow:0 4px 10px rgba(0,0,0,0.8);
  -o-box-shadow:0 4px 10px rgba(0,0,0,0.8);
  text-shadow:0 1px 0 #fff;
  z-index:100;
}
#notify .title {
  float:none;
  padding:10px 10px;
  font-size:16px;
  font-weight:bold;
  color:#fff;
  line-height:1;
  background:#003856;
	background:#003856 linear-gradient(top, rgb(0,83,126), rgb(0,30,46));
	background:#003856 -webkit-linear-gradient(top, rgb(0,83,126), rgb(0,30,46));
	background:#003856 -moz-linear-gradient(top, rgb(0,83,126), rgb(0,30,46));
	background:#003856 -ms-linear-gradient(top, rgb(0,83,126), rgb(0,30,46));
	background:#003856 -o-linear-gradient(top, rgb(0,83,126), rgb(0,30,46));
  background:-webkit-gradient(linear, left top, left bottom, from(rgb(0,83,126)), to(rgb(0,30,46)));
  text-shadow:0 -1px 1px rgba(0,0,0,0.7);
  box-shadow:inset 0 1px 1px rgba(0,0,0,0.7),0 1px 3px rgba(0,0,0,0.5);
  border-top-left-radius:4px;
	border-top-right-radius:4px;
  -webkit-border-top-left-radius:4px;
	-webkit-border-top-right-radius:4px;
  -moz-border-radius-topleft:4px;
  -moz-border-radius-topright:4px;
}
#notify ul {
  overflow:auto;
  max-height:400px;
}
.menu-dropdown li,
#notify li {
  overflow:hidden;
  padding:10px;
  background:#e7e7e0 url(/images/content-background-mini.png) repeat-x 0 0;
  border-top:1px solid #fff;
  border-bottom:1px solid #ccc;
}
#notify li.unread {
	background:linear-gradient(top, #f7f6ed, #ebe2bf);
	background:-webkit-linear-gradient(top, #f7f6ed, #ebe2bf);
	background:-moz-linear-gradient(top, #f7f6ed, #ebe2bf);
	background:-ms-linear-gradient(top, #f7f6ed, #ebe2bf);
	background:-o-linear-gradient(top, #f7f6ed, #ebe2bf);
  background:-webkit-gradient(linear, left top, left bottom, from(#f7f6ed), to(#ebe2bf));
}
#notify a:hover {
  text-decoration:underline;
  color:#004681;
}
#notify li {
  padding-bottom:7px;
}
#notify .author {
  float:left
}
#notify .author img {
  width:32px;
  height:32px;
  border:1px solid #ddd;
}
#notify .body {
  margin-left:40px;
}
#notify .timestamp {
  margin-top:3px;
  font-size:12px;
  color:#999;
}
.menu-dropdown {
  right:0;
  width:180px;
  min-height:20px;
  max-height:none;
}
.signin-menu {
  width:150px;
}
.menu-dropdown li {
  padding:0;
}
.menu-dropdown li a {
  display:block;
  padding:7px 10px;
  font-weight:bold;
}
.menu-dropdown li a:hover {
  background:rgba(0,0,0,0.1);
  color:#222;
}
.menu-dropdown > li:first-child {
  border-top-left-radius:5px;
	border-top-right-radius:5px;
  -webkit-border-top-left-radius:5px;
	-webkit-border-top-right-radius:5px;
  -moz-border-radius-topleft:5px;  
  -moz-border-radius-topright:5px;
}
#notify ul,
#notify ul > li:last-child,
.menu-dropdown > li:last-child {
  border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
  -webkit-border-bottom-left-radius:5px;
	-webkit-border-bottom-right-radius:5px;
  -moz-border-radius-bottomleft:5px;  
  -moz-border-radius-bottomright:5px;
}

/*============================ OTHER ============================*/
.summary:before {
  content:' - ';
}
.user-image {
  float:left;
  display:inline-block;
  width:48px;
  height:48px;
  border:1px solid #ddd;
  border-radius:5px;
  box-shadow:0 1px 0 #fff;
  -webkit-box-shadow:0 1px 0 #fff;
  -moz-box-shadow:0 1px 0 #fff;
  -ms-box-shadow:0 1px 0 #fff;
  -o-box-shadow:0 1px 0 #fff;
}
.user-image img {
  width:48px;
  height:48px;
  border-radius:4px;
}
.user-image.mini,
.user-image.mini img {
  width:32px;
  height:32px;
}
section .content .pager {
  padding-top:15px;
}
.pager ul {
  text-align:right;
}
.pager ul li {
  display:inline-block;
  margin-left:5px;
}
.pager .next a:after {
  display:inline-block;
  content:'▼';
  font-size:70%;
  transform:translateX(4px) rotate(-90deg);
  -webkit-transform:translateX(4px) rotate(-90deg);
  -moz-transform:translateX(4px) rotate(-90deg);
  -ms-transform:translateX(4px) rotate(-90deg);
  -o-transform:translateX(4px) rotate(-90deg);
}
.pager .prev a:before {
  display:inline-block;
  content:'▼';
  font-size:70%;
  transform:translateX(-4px) rotate(90deg);
  -webkit-transform:translateX(-4px) rotate(90deg);
  -moz-transform:translateX(-4px) rotate(90deg);
  -ms-transform:translateX(-4px) rotate(90deg);
  -o-transform:translateX(-4px) rotate(90deg);
}

input.button,
span.button,
a.button {
  display:inline-block;
  padding:6px 10px 8px;
  border:0;
  color:#fff !important;
  line-height:1;
  font-weight:bold;
  background:#003856;
  background:#003856 linear-gradient(top, rgb(0,83,126), rgb(0,30,46));
	background:#003856 -webkit-linear-gradient(top, rgb(0,83,126), rgb(0,30,46));
	background:#003856 -moz-linear-gradient(top, rgb(0,83,126), rgb(0,30,46));
	background:#003856 -ms-linear-gradient(top, rgb(0,83,126), rgb(0,30,46));
	background:#003856 -o-linear-gradient(top, rgb(0,83,126), rgb(0,30,46));
  background:-webkit-gradient(linear, left top, left bottom, from(rgb(0,83,126)), to(rgb(0,30,46)));
  border-radius:3px;
  text-shadow:0 -1px 1px rgba(0,0,0,0.7);
  box-shadow:inset 0 1px 0 rgba(255,255,255,0.4),0 1px 2px rgba(0,0,0,0.5);
  -webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.4),0 1px 2px rgba(0,0,0,0.5);
  -moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.4),0 1px 2px rgba(0,0,0,0.5);
  -ms-box-shadow:inset 0 1px 0 rgba(255,255,255,0.4),0 1px 2px rgba(0,0,0,0.5);
  -o-box-shadow:inset 0 1px 0 rgba(255,255,255,0.4),0 1px 2px rgba(0,0,0,0.5);
  cursor:pointer;
}
input.button:hover,
span.button:hover,
a.button:hover {
  text-decoration:none;
}
input.button:active,
span.button:active,
a.button:active {
  color:#ccc;
  box-shadow:inset 0 1px 10px rgba(0,0,0,0.9),inset 0 1px 0 rgba(255,255,255,0.4),0 2px 0 #fff;
  -webkit-box-shadow:inset 0 1px 10px rgba(0,0,0,0.9),inset 0 1px 0 rgba(255,255,255,0.4),0 2px 0 #fff;
  -moz-box-shadow:inset 0 1px 10px rgba(0,0,0,0.9),inset 0 1px 0 rgba(255,255,255,0.4),0 2px 0 #fff;
  -ms-box-shadow:inset 0 1px 10px rgba(0,0,0,0.9),inset 0 1px 0 rgba(255,255,255,0.4),0 2px 0 #fff;
  -o-box-shadow:inset 0 1px 10px rgba(0,0,0,0.9),inset 0 1px 0 rgba(255,255,255,0.4),0 2px 0 #fff;
}
.button.with-icon-button {
  padding-top:8px;
}
.button.with-icon-button img {
  vertical-align:middle;
  margin-top:-4px;
  margin-right:2px;
}

.alert-message {
  margin-bottom:30px;
  padding:10px 20px;
  border:1px solid #e8b3b3;
  background:#f8e0e1;
  font-size:18px;
  font-weight:bold;
  border-radius:5px;
  box-shadow:inset 0 1px 4px rgba(0,0,0,0.5);
  -webkit-box-shadow:inset 0 1px 4px rgba(0,0,0,0.5);
  -moz-box-shadow:inset 0 1px 4px rgba(0,0,0,0.5);
  -ms-box-shadow:inset 0 1px 4px rgba(0,0,0,0.5);
  -o-box-shadow:inset 0 1px 4px rgba(0,0,0,0.5);
}
.alert-message li {
  margin:5px 0;
}

.note {
  color:#999;
}

/*============================ SCROLLBAR ============================*/
::-webkit-scrollbar {
  width: 15px;
  height: 15px;
  background:#002234;
}
::-webkit-resizer,
::-webkit-scrollbar-button,
::-webkit-scrollbar-corner {
  display: none;
}
::-webkit-scrollbar-track-piece {
	background:#002234;
  box-shadow:inset 1px 0 4px rgba(0,0,0,0.7);
  -webkit-box-shadow:inset 1px 0 4px rgba(0,0,0,0.7);
}
::-webkit-scrollbar-thumb {
  border:1px solid #002234;
	background:-webkit-linear-gradient(left, rgb(0,83,126), rgb(0,30,46));
  border-radius:3px;
  box-shadow:inset 0 1px 1px rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.7);
  -webkit-box-shadow:inset 0 1px 1px rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.7);
}
::-webkit-scrollbar-thumb:horizontal {
	background:-webkit-linear-gradient(top, rgb(0,83,126), rgb(0,30,46));
}
::-webkit-scrollbar-track-piece:decrement {
  border-bottom: 0;
}
::-webkit-scrollbar-track-piece:increment {
  border-top: 0;
}


#notify ul::-webkit-resizer {
  display:none;
}
#notify ul::-webkit-scrollbar {
  width: 16px;
  height: 16px;
  background:#98988f;
  border-left:1px solid #ccc;
  -webkit-border-bottom-right-radius:5px;
}
#notify ul::-webkit-scrollbar-track-piece {
	background:#98988f;
  box-shadow:inset 2px 0 5px rgba(0,0,0,0.4);
  -webkit-border-bottom-right-radius:5px;
}
#notify ul::-webkit-scrollbar-thumb {
  border:1px solid #aaa;
	background:-webkit-linear-gradient(left, #f7f7f0, #b9b9ad);
  border-radius:3px;
  box-shadow:inset 0 1px 1px rgba(255,255,255,0.2),1px 1px 2px rgba(0,0,0,0.7);
}

.static-content pre code::-webkit-resizer,
#module-synopsis pre code::-webkit-resizer,
#module-description pre code::-webkit-resizer,
.module-description pre code::-webkit-resizer {
  display:none;
}
.static-content pre code::-webkit-scrollbar,
#module-synopsis pre code::-webkit-scrollbar,
#module-description pre code::-webkit-scrollbar,
.module-description pre code::-webkit-scrollbar {
  width: 16px;
  height: 16px;
  background:rgba(0,0,0,0);
  -webkit-border-bottom-left-radius:5px;
  -webkit-border-bottom-right-radius:5px;
}
.static-content pre code::-webkit-scrollbar-button:horizontal:start:decrement,
#module-synopsis pre code::-webkit-scrollbar-button:horizontal:start:decrement,
#module-description pre code::-webkit-scrollbar-button:horizontal:start:decrement,
.module-description pre code::-webkit-scrollbar-button:horizontal:start:decrement,
.static-content pre code::-webkit-scrollbar-button:horizontal:end:increment,
#module-synopsis pre code::-webkit-scrollbar-button:horizontal:end:increment,
#module-description pre code::-webkit-scrollbar-button:horizontal:end:increment,
.module-description pre code::-webkit-scrollbar-button:horizontal:end:increment {
  display:block;
}
.static-content pre code::-webkit-scrollbar-track-piece,
#module-synopsis pre code::-webkit-scrollbar-track-piece,
#module-description pre code::-webkit-scrollbar-track-piece,
.module-description pre code::-webkit-scrollbar-track-piece {
  background:rgba(0,0,0,0);
  box-shadow:inset 0 0 0 rgba(0,0,0,0);
  -webkit-border-bottom-left-radius6px;
  -webkit-border-bottom-right-radius:6px;
}
.static-content pre code::-webkit-scrollbar-thumb,
#module-synopsis pre code::-webkit-scrollbar-thumb,
#module-description pre code::-webkit-scrollbar-thumb,
.module-description pre code::-webkit-scrollbar-thumb {
  border:5px solid #F7EBC5;
	background:rgba(0,0,0,0.3);
  border-radius:10px;
  box-shadow:inset 0 0 0 rgba(0,0,0,0);
}
.static-content pre code::-webkit-scrollbar-track-piece:decrement,
#module-synopsis pre code::-webkit-scrollbar-track-piece:decrement,
#module-description pre code::-webkit-scrollbar-track-piece:decrement,
.module-description pre code::-webkit-scrollbar-track-piece:decrement {
  border: 0;
}
.static-content pre code::-webkit-scrollbar-track-piece:increment,
#module-synopsis pre code::-webkit-scrollbar-track-piece:increment,
#module-description pre code::-webkit-scrollbar-track-piece:increment,
.module-description pre code::-webkit-scrollbar-track-piece:increment {
  border: 0;
}

/*============================ MEDIA QUERY ============================*/
@media (max-width: 900px) {
  .container-inner {
    width:630px;
  }
  #comment-textarea {
    width:490px;
  }
  .edit-form fieldset textarea {
    width:400px;
  }
  .edit-form fieldset .preview {
    width: 400px;
  }
  .module-data .data dd {
    width:187px;
  }
  .feedback-facebook {
    overflow:hidden;
    width:100px !important;
  }
  #guide-signin-container {
    position:static;
    overflow:hidden;
    border:0;
    padding:0;
    margin-top:30px;
    box-shadow:none;
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    -ms-box-shadow:none;
    -o-box-shadow:none;
  }
  #guide-signin-container a {
    float:left;
    margin:0 30px 0 0;
  }
}
@media (max-width: 630px) {
  .container-inner {
    width:100%;
  }
  #comment-textarea {
    width:490px;
  }
  .edit-form fieldset textarea {
    width:400px;
  }
  .edit-form fieldset .preview {
    width: 400px;
  }
  header {
    position:fixed; 
    width:100%;
    height:45px;
    background-size: auto 45px;
    -webkit-background-size: auto 45px;
    -moz-background-size: auto 45px;
    -ms-background-size: auto 45px;
    -o-background-size: auto 45px;
    z-index:10;
  }
  header + * {
    margin-top:0 !important;
    padding-top:55px;
  }
  header + #first-guide {
    padding-top:45px;
  }
  header h1 {
    margin:5px 0 5px 10px;
  }
  header h1 img {
    height:35px;
  }
  .orange-button {
    height:29px;
    margin:0;
    padding:8px 14px;
    line-height:29px;
    border-radius:0;
    box-shadow:inset 0 1px 1px rgba(255,255,255,0.7),inset 0 -1px 1px rgba(0,0,0,0.7),inset 0 0 8px rgb(131,22,0),0 -1px 3px rgb(0,0,0),0 0 6px rgb(0,0,0);
    -webkit-box-shadow:inset 0 1px 1px rgba(255,255,255,0.7),inset 0 -1px 1px rgba(0,0,0,0.7),inset 0 0 8px rgb(131,22,0),0 -1px 3px rgb(0,0,0),0 0 6px rgb(0,0,0);
    -moz-box-shadow:inset 0 1px 1px rgba(255,255,255,0.7),inset 0 -1px 1px rgba(0,0,0,0.7),inset 0 0 8px rgb(131,22,0),0 -1px 3px rgb(0,0,0),0 0 6px rgb(0,0,0);
    -ms-box-shadow:inset 0 1px 1px rgba(255,255,255,0.7),inset 0 -1px 1px rgba(0,0,0,0.7),inset 0 0 8px rgb(131,22,0),0 -1px 3px rgb(0,0,0),0 0 6px rgb(0,0,0);
    -o-box-shadow:inset 0 1px 1px rgba(255,255,255,0.7),inset 0 -1px 1px rgba(0,0,0,0.7),inset 0 0 8px rgb(131,22,0),0 -1px 3px rgb(0,0,0),0 0 6px rgb(0,0,0);
  }
  #submit-module-button {
    display:none;
  }
  #user-menu-button,
  #user-button,
  #notify-button {
    float:right;
    display:block;
    height:29px;
    margin:0;
    padding:8px 14px;
    line-height:1;
    font-weight:bold;
    border-radius:0;
    box-shadow:inset 0 0 12px rgba(0,0,0,0.2),inset 0 1px 0 rgba(255,255,255,0.2),inset 0 -1px 1px rgba(0,0,0,0.7),0 -1px 3px rgb(0,0,0),0 0 6px rgb(0,0,0);
    -webkit-box-shadow:inset 0 0 12px rgba(0,0,0,0.2),inset 0 1px 0 rgba(255,255,255,0.2),inset 0 -1px 1px rgba(0,0,0,0.7),0 -1px 3px rgb(0,0,0),0 0 6px rgb(0,0,0);
    -moz-box-shadow:inset 0 0 12px rgba(0,0,0,0.2),inset 0 1px 0 rgba(255,255,255,0.2),inset 0 -1px 1px rgba(0,0,0,0.7),0 -1px 3px rgb(0,0,0),0 0 6px rgb(0,0,0);
    -ms-box-shadow:inset 0 0 12px rgba(0,0,0,0.2),inset 0 1px 0 rgba(255,255,255,0.2),inset 0 -1px 1px rgba(0,0,0,0.7),0 -1px 3px rgb(0,0,0),0 0 6px rgb(0,0,0);
    -o-box-shadow:inset 0 0 12px rgba(0,0,0,0.2),inset 0 1px 0 rgba(255,255,255,0.2),inset 0 -1px 1px rgba(0,0,0,0.7),0 -1px 3px rgb(0,0,0),0 0 6px rgb(0,0,0);
  }
  #user-button {
    width:26px;
    height:27px;
    padding:9px 10px;
    text-align:center;
  }
  #user-button span {
    display:none;
  }
  #user-button img {
    position:absolute;
    width:26px;
    height:26px;
    margin:0;
    border-radius:4px;
  }
  #user-menu-button {
    display:none;
  }
  #notify-button {
    width:28px;
    height:24px;
    padding:13px 9px 8px;
    background:url(/images/notify.png) no-repeat center 7px,linear-gradient(top, rgb(0,83,126), rgb(0,30,46));
    background:url(/images/notify.png) no-repeat center 7px,-webkit-linear-gradient(top, rgb(0,83,126), rgb(0,30,46));
    background:url(/images/notify.png) no-repeat center 7px,-moz-linear-gradient(top, rgb(0,83,126), rgb(0,30,46));
    background:url(/images/notify.png) no-repeat center 7px,-ms-linear-gradient(top, rgb(0,83,126), rgb(0,30,46));
    background:url(/images/notify.png) no-repeat center 7px,-o-linear-gradient(top, rgb(0,83,126), rgb(0,30,46));
    background:url(/images/notify.png) no-repeat center 7px,-webkit-gradient(linear, left top, left bottom, from(rgb(0,83,126)), to(rgb(0,30,46)));
  }
  #first-guide {
    margin-bottom:10px;
  }
  #first-guide .container-inner {
    width:auto;
    padding:15px 10px 20px;
  }
  #first-guide .title {
    font-size:20px;
    letter-spacing:0;
    line-height:1.2;
  }
  #first-guide ul li {
    padding:1px 0;
    letter-spacing:0;
    font-size:13px;
  }
  #guide-signin-container {
    position:static;
    overflow:hidden;
    border:0;
    padding:0;
    margin:20px 0;
    box-shadow:none;
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    -ms-box-shadow:none;
    -o-box-shadow:none;
  }
  #guide-signin-container a.button {
    margin:0;
    padding: 6px 10px 6px 8px;
    font-size:12px;
  }
  #guide-signin-container a.button:last-child {
    margin-left:5px;
  }
  #guide-signin-container a.button:before {
    width:16px;
    height:16px;
    content:'';
    margin-top:-4px;
    margin-right:3px;
    background-size:16px 16px;
    -webkit-background-size:16px 16px;
    -moz-background-size:16px 16px;
    -ms-background-size:16px 16px;
    -o-background-size:16px 16px;
  }
  #guide-signin-twitter-button:before {
    background:url(/images/twitter-icon-wh.png) no-repeat 0 0;
  }
  #guide-signin-github-button:before {
    background:url(/images/github-icon-wh.png) no-repeat 0 0;
  }
  #first-guide-close {
    right:10px;
    color:#fff;
  }
  section {
    margin-bottom:25px;
  }
  section .section-title {
    margin:2px 10px 7px;
    font-size: 22px;
    line-height:1.1;
  }
  section .section-title span {
    display:block;
    padding-top:5px;
    font-size: 13px;
    font-weight:normal;
  }
  section .section-title span:before {
    content:'';
  }
  section .content {
    border-width:3px;
    border-left:0;
    border-right:0;
    border-radius:0;
  }
  section .content > * {
    padding:12px 10px;
    border-radius:0;
    border-top:1px solid #fff;
  }
  .user-image {
    display:block;
    width:24px;
    height:24px;
  }
  section .content-with-icon .user-image {
    margin-left:0;
  }
  section .content-with-icon .user-image img {
    width:24px;
    height:24px;
  }
  #user-profile .edit-button {
    display:none;
  }
  #user-profile .user-name,
  section .module .module-title {
    margin-top:-1px;
    margin-left:30px;
    font-size: 14px;
  }
  #user-profile .user-name a,
  section .module .module-title a {
    font-size:22px;
  }
  section .module .module-title a {
    display:block;
    overflow:hidden;
    width:100%;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  section .module .module-title .summary {
    display:block;
    font-weight:normal;
  }
  section .module .module-title .summary:before {
    content:'';
  }
  .module-description {
    display:none;
  }
  section .module .module-title {
    text-shadow:0 1px 0 #fff;
  }
  section .module .module-info {
    margin-left:30px;
    margin-top:2px;
  }
  section .module .module-info .user-name {
    display:none;
  }
  section .module-author-icon .user-image,
  section .module-author-icon .user-image img {
    width:32px;
    height:32px;
  }
  .module-data {
    margin-left:40px;
  }
  .module-data .data dl {
    width:100%;
  }
  .module-data .data dt {
    float:left;
  }
  .module-data .data dd {
    width:70%;
  }
  .module-data .edit-button {
    top: 120px;
    right:10px;
  }
  .fb-like,
  .fb-like *,
  .feedback-facebook {
    overflow:hidden;
    width:100px !important;
  }
  #comment-form {
    padding-left:40px;
  }
  #comment-form .user-image {
    margin-left:-40px;
  }
  #comment-textarea {
    width:90%;
    margin:0;
  }
  .user-data,
  .user-desc {
    margin-left:30px;
  }
  .user-data span {
    display:block;
    margin:5px 0;
  }
  .submit {
    margin-top:10px;
    margin-left:-20px;
  }
  input.button, span.button, a.button {
    padding:8px 10px 10px;
    font-size:14px;
  }
  footer {
    margin-top:60px;
  }
  footer ul {
    position:absolute;
    bottom:0;
    float:none;
    width:100%;
    text-align:center;
    font-size:18px;
    background:#333;
    background:linear-gradient(top, #333, #111);
    background:-webkit-linear-gradient(top, #333, #111);
    background:-moz-linear-gradient(top, #333, #111);
    background:-ms-linear-gradient(top, #333, #111);
    background:-o-linear-gradient(top, #333, #111);
    background:-webkit-gradient(linear, left top, left bottom, from(#333), to(#111));
    box-shadow:inset 0 0 12px rgba(0,0,0,0.2),inset 0 1px 0 rgba(255,255,255,0.2),inset 0 -1px 1px rgba(0,0,0,0.7),0 -1px 3px rgba(0,0,0,0.2);
    -webkit-box-shadow:inset 0 0 12px rgba(0,0,0,0.2),inset 0 1px 0 rgba(255,255,255,0.2),inset 0 -1px 1px rgba(0,0,0,0.7),0 -1px 3px rgba(0,0,0,0.2);
    -moz-box-shadow:inset 0 0 12px rgba(0,0,0,0.2),inset 0 1px 0 rgba(255,255,255,0.2),inset 0 -1px 1px rgba(0,0,0,0.7),0 -1px 3px rgba(0,0,0,0.2);
    -ms-box-shadow:inset 0 0 12px rgba(0,0,0,0.2),inset 0 1px 0 rgba(255,255,255,0.2),inset 0 -1px 1px rgba(0,0,0,0.7),0 -1px 3px rgba(0,0,0,0.2);
    -o-box-shadow:inset 0 0 12px rgba(0,0,0,0.2),inset 0 1px 0 rgba(255,255,255,0.2),inset 0 -1px 1px rgba(0,0,0,0.7),0 -1px 3px rgba(0,0,0,0.2);
  }
  footer ul li {
    width:33%;
    margin:0;
  }
  footer ul li a {
    display:block;
    padding:7px 0 8px;
    font-weight:bold;
    color:#ddd;
    text-shadow:0 -2px 1px #000;
    background:#333;
    background:linear-gradient(top, #333, #111);
    background:-webkit-linear-gradient(top, #333, #111);
    background:-moz-linear-gradient(top, #333, #111);
    background:-ms-linear-gradient(top, #333, #111);
    background:-o-linear-gradient(top, #333, #111);
    background:-webkit-gradient(linear, left top, left bottom, from(#333), to(#111));
    box-shadow:inset 0 0 12px rgba(0,0,0,0.2),inset 0 1px 0 rgba(255,255,255,0.2),inset 0 -1px 1px rgba(0,0,0,0.7);
    -webkit-box-shadow:inset 0 0 12px rgba(0,0,0,0.2),inset 0 1px 0 rgba(255,255,255,0.2),inset 0 -1px 1px rgba(0,0,0,0.7);
    -moz-box-shadow:inset 0 0 12px rgba(0,0,0,0.2),inset 0 1px 0 rgba(255,255,255,0.2),inset 0 -1px 1px rgba(0,0,0,0.7);
    -ms-box-shadow:inset 0 0 12px rgba(0,0,0,0.2),inset 0 1px 0 rgba(255,255,255,0.2),inset 0 -1px 1px rgba(0,0,0,0.7);
    -o-box-shadow:inset 0 0 12px rgba(0,0,0,0.2),inset 0 1px 0 rgba(255,255,255,0.2),inset 0 -1px 1px rgba(0,0,0,0.7);
  }
  #copyright {
    padding:0 0 50px;
    margin:0;
    text-align:center;
    font-size:12px;
  }
  #notify {
    top:40px;
    right:0;
    width:100%;
    border:0;
    border-radius:0;
  }
  .menu-dropdown {
    top:40px;
  }
  #notify .title {
    margin:0;
    border-radius:0;
  }
  #notify ul::-webkit-scrollbar-thumb,
  #notify ul,
  #notify ul > li:last-child {
    border-radius:0;
  }
  #notify ul {
    max-height:none;
  }
  .edit-form fieldset input,
  .edit-form fieldset textarea {
    width:90%;
  }
}
